.two-columns{
	display: flex; 
	justify-content: space-between;
}
.two-columns .column{
	flex-basis: 45%;
}
.call-to-action{
	padding:20px; 
	background-color:black; 
	color:white;
}
.call-to-action h3{
	margin-top:5px;
	color:white;
}
.call-to-action table tbody > tr > td:nth-of-type(1) { 
	padding-right:15px;
}
.mobilehci-title{
	font-size: 14px;
    margin: 0;
    font-weight: 800;
}
#header{
	background-color: #A5DEF2;
}
.banner{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	background-image:url(/user/pages/01.home/banner.svg);
	background-size:cover;
	height:400px;
}
.banner div{
	width:50%;
	float:right;
	margin:60px 2rem 0 0;
	text-align: right;
}
.banner h5{}
.banner h1{ margin:8px 0; font-size:32px;}
.banner p{}
.banner-margin{
	height:270px;
}
.chair-person img{
	width:100px;
	border-radius: 50%;
	margin-right:20px;
	float:left;
}
.chair-person p{
	float:left;
	margin-top:20px;
}
.chair-person-name{
	font-weight:bold;
}